@page "/order-success"
@inject ICartService CartService

<PageTitle>Thank you!</PageTitle>

<h3>Thank you!</h3>

<span>Thank you for your order! You can check your orders <a href="orders">here</a>.</span>

@code {
    protected override async Task OnInitializedAsync()
    {
        await CartService.GetCartItemsCount();
    }

}
