@inject NavigationManager NavigationManager

<button @onclick="GoToHome"
        class="btn btn-outline-primary home-button">
    My Shop
</button>

@code {
    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
